.recent_search_row {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px !important;
}
.recent_search_first_text {
  color: #fff;
  font-size: 13px;
  font-family: "Roboto-Regular";
}
.recent_search_sec_text {
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto-Regular";
}
