/* @font-face {
    font-family: 'CustomFont1Name':
    src: local('CustomFont1Name'),
         url('./fonts/CustomFont1Name.woff') format('woff'),
         url('./fonts/CustomFont1Name.woff2') format('woff2');
}
@font-face {
    font-family: 'CustomFont2Name':
    src: local('CustomFont2Name'),
         url('./fonts/CustomFont2Name.woff') format('woff'),
         url('./fonts/CustomFont2Name.woff2') format('woff2');
} */

@font-face {
  font-family: Roboto-Regular;
  src: url("./Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("./Roboto-Medium.ttf");
}
