.container_ {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 100px;
  padding-right: 100px;
  background-image: url("../../assets/images/background.png");
  background-size: 100% 100%;
  height: 100vh;
}

@media screen and (max-width: 1243px) {
  .container_ {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 412px) {
  .container_ {
    padding-left: 12px;
    padding-right: 12px;
  }
}
